.nav {
  .nav__header {
    background-color: white;
    object-fit: contain;
    border-bottom: 1px solid lightgray;
  }

  .nav__links {
    float: right;
    margin: 16px 0px 0px 0px;
    button {
      margin-left: 10px;
    }
  }
}
